* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Raleway", Arial, Tahoma, sans-serif;
  font-size: 14px;
  background-color: #f8f9f9;
  color: #848484;
  -webkit-font-smoothing: antialiased !important;
  overflow: hidden;
}

.text-danger {
  color: red;
}
